# OS-specific
.DS_Store

#rbenv
.ruby-version

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock
test/tmp/

# Vagrant

# Vagrant stuff
acceptance_config.yml
boxes/*
Vagrantfile
.vagrant
vagrant-spec.config.rb
*.box
*.pyc
sandi_meter