html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  height:100%;
}

body {
  font-family: $sans-serif-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $black;
  background-color: $white;
  @include helvetica-neue-regular;
  min-height: 100%;
}

.wrapper {
  padding-top: 100px;

  min-height: 'calc(100vh - 353px)';
  min-height: -webkit-calc(100vh - 353px);
}

.container {
  z-index: 999; //keep content on top
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: inherit;
  text-rendering: optimizelegibility;
  @include helvetica-neue-bold;
}

h1 {
  $font-size: 45px;
  font-size: $font-size;
  line-height: 60px;

  span {
    font-size: $headline-span-size;
    display: block;
  }
}

h2 {
  $font-size: 37px;
  font-size: $font-size;
  line-height: 33px;
}

h3 {
  $font-size: 32px;
  font-size: $font-size;
  line-height: $font-size;
}

h4 {
  $font-size: 24px;
  font-size: $font-size;
  line-height: $font-size;
}

h5 {
  $font-size: 20px;
  font-size: $font-size;
  line-height: $font-size;
}

h6 {
  $font-size: 12px;
  font-size: $font-size;
  line-height: $font-size;
}

p, td, .row ul li {
  letter-spacing: normal;
  line-height: 32px;

  a {
  color: $links;
  text-decoration: none;
  border-bottom: 1px solid $links;

  &:hover {
    text-decoration: none;
    color: $links_press;
    border-bottom: 1px solid $links_press;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;


  &:hover {
    text-decoration: none;
    color: $links_press;
    @include animate-text-color;
  }

  &:active {
   color: $links_press;
  }

  &:visited {

  }
}

ul {

}

li {
  line-height: $base-line-height;
}

blockquote {
  border: none;
  margin: 60px;

  p { // blockquote p
    font-size: $base-font-size * 2;
    line-height: $base-line-height * 2;
    font-style: italic;
  }
}

strong {
  @include helvetica-neue-bold;
}

em {
  @include helvetica-neue-regular-italic;
}

br {
  display:block;
  line-height: ($baseline * 2);
}

pre,
code {
  font-family: $mono-stack;
  font-weight: 400;
  font-size: 0.844rem;
  line-height: 1.63em;
}

pre {
  border: none;
  font-size: $base-font-size;
  background: $black;
  color: $white;
  padding: 20px;
  line-height: $base-line-height;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {

}

.vr {
  width: 2px;
  height: 100%;
}

form {

}

input {
  letter-spacing: 3px;

  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder  {
  overflow: visible;
  padding-top: 3px;
  color: $light-gray-text;
}

input:-moz-placeholder {
  overflow: visible;
  padding-top: 3px;
  color: $light-gray-text;
}


/* type and styles */
.meta,
.legal,
.date {
  color: $dark-gray-text;
  line-height: $base-line-height;
  @include helvetica-neue-regular;
}

.date {
  text-transform: uppercase;
}

.button {
  color: $white;
  text-align: center;
  background-color: $primary-button-color;
  display: block;
  padding: 15px 0;
  margin-top: 20px !important;
  font-size: 25px;
  letter-spacing: 5px;
  @include helvetica-neue-light;
  @include rounded;
  @include hover;

  &.inline-button {
    background-color: $vagrant-blue;
    padding: 5px 20px;
    color: $white !important;
    font-size: 15px;
    letter-spacing: 1px;
    @include rounded;

    a,
    a:hover {
      color: $white;
    }
  }

  &.white-button {
    background: fade($white, 20%);

    &:hover {
      background: fade($white, 30%);
    }
  }

  &.secondary-button {
    background: $light-gray;

    &:hover {
      background: $purple;
    }
  }

  &.with-carat span {
    margin-right: -10px; //recenter text if there's a carat after text
  }

  span {
    // button text styles can go here
  }

  &:hover {
    background-color: $purple;
    @include animate-background-color;
  }

  &:active {

  }

  &.disabled {
    background-color: $light-gray-background;
  }

}

a.read-more {
  color: $blue;

  &:hover {
    color: darken($blue, 10%);
  }
}

// misc. styles
.loading {
  text-align: center;
  font-size: $base-font-size;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $medium-gray-text;
  padding: 30px 0 20px;
}

.pinned {
  position:fixed;
}
