// footer

footer {
  padding: 40px 0;
  background-color: $gray-footer;
  text-align: center;
  color: $white;
  z-index: 999;
  position: relative; //z-index needs position!
  box-shadow:         inset 0 20px 20px -20px $dark-gray-footer;
  -moz-box-shadow:    inset 0 20px 20px -20px $dark-gray-footer; /* FF3.6+ */
  -webkit-box-shadow: inset 0 20px 20px -20px $dark-gray-footer; /* Chrome,Safari4+ */
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);

  .footer-nav {
    color: $light-gray-text;
    font-size: 32px;
    text-shadow: 1px 1px 0 #000;
    @include helvetica-neue-light;

    li {
      display: inline-block;
      margin:  0 10px;

      a {
        color: $blue;

        &:hover {
          color: $purple;
        } //li a:hover
      } // li a
    } //li

  } //ul

  ul.logos {
    height: 103px;
    margin: $baseline 0;

    li {
      display: inline-block;
      margin: 0 10px;
    }

    p {
      color: $light-gray-text;
      @include helvetica-neue-light;
      text-shadow: 1px 1px 0 #000;
      padding-top: 72px;
    }

    .pd-logo-monochrome,
    .vagrant-logo-monochrome {
      &:hover {
        background-position: center top;
      }
    }

    .pd-logo-monochrome {
      height: 72px;
      min-width: 130px;
      background: url(../images/footer_pd_logo.png) no-repeat center bottom;
    }

    .vagrant-logo-monochrome {
      height: 72px;
      min-width: 130px;
      background: url(../images/footer_vagrant_logo.png) no-repeat center bottom;
    }

  }
} //footer
