@media (max-width: 480px) {

  nav {
    position: absolute !important;
    height: auto;
    font-size: 13px;
    padding: 10px 0;
    @include drop-shadow;

    a.vagrant-docs-logo {
      background: url(../images/logo_docs_small.png) no-repeat  center center !important;
      display: inline-block !important;
      float: none !important;
      position: relative;
      width: 230px !important;
      left: 50%;
      padding: 10px 0;
      @include reset;
      margin-left: -115px !important;
    }

    ul {
      position: relative;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding: 10px 0 0;
    }
  }

  a.brand {
    display: none !important;
    position: static !important;
    width: 200px !important;
    margin: 0 0 0 0 !important;
    background-position: center center !important;
  }

  .search {
    input {
      font-size: 20px !important;
      padding: 0 !important;

    }
  }

  ::-webkit-input-placeholder  {
    overflow: visible;
    padding-top: 3px;
    font-size: 15px;
  }

  input:-moz-placeholder {
    overflow: visible;
    padding-top: 3px;
    font-size: 15px;
  }

  .page {

    .page-contents {

    } //page contents

    &.docs {

      .page-contents {
        padding: 40px 0;
      }

      h1 {
        font-size: 40px;
        line-height: 40px;
      }

      h2 {
        font-size: 25px;
        line-height: 30px;
      }

      h2.steps img {
        display: block;
        margin-bottom: 20px;
      }
    } //docs

  } //page

  footer {
    padding: 40px 0 !important;
    background-size: 300%;
    background-position: center bottom;
    background-repeat: no-repeat;

    ul.footer-nav {
      font-size: 13px;
    }
  }

  .button {
    padding: 6px 0;
    font-size: 20px;
    letter-spacing: 3px;
    @include helvetica-neue-regular;
  }

  .search-bar {
    margin-top: 160px !important;
  }

  .pagination {
    font-size: 15px;

  }

  footer {

    a.contact-link {
      font-size: 20px;
    } // contact link
  }

} //mobile

@media (min-width: 768px) and (max-width: 979px) {

  nav {

    a.vagrant-logo {
      background: url(../images/logo_small.png) no-repeat 0 center !important;
      width: 230px;
    }
  } // nav

  .toggle {
    display: none !important;
  }

  .sidebar-nav ul {
    display: block !important;
  }

} // 768 < x < 979

@media (min-width: 1200px) {

} // > 1200

@media (max-width: 979px) {

  .vagrant-docs-logo {
    background: url(../images/logo_docs_small.png) no-repeat 0 center !important;
    width: 230px !important;
  }

} // < 979


@media (min-width: 980px) {

} // > 980


@media (max-width: 767px) {
  min-height: 'calc(100vh - 383px)';
  min-height: -webkit-calc(100vh - 383px);

  body {
    min-height: 'calc(100vh - 383px)';
    min-height: -webkit-calc(100vh - 383px);
  }

  // these modules go full-width at smaller sizes
  footer {
    @include full-width;
  }

  nav {
    height: auto;
    font-size: 13px;
    padding: 10px 0;
    //.drop-shadow;

    .vagrant-docs-logo {
      background: url(../images/logo_docs.png) no-repeat center center !important;
      display: inline-block !important;
      background-position: center center;
      float: none !important;
      position: relative;
      width: 500px !important;
      left: 50%;
      padding: 10px 0;
      @include reset;
      margin-left: -250px !important;
    }

    ul {
      position: relative;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding: 10px 0 0;
      height: 50px;

      li:first-child {
        margin-left: 0;
      }

      li {
        line-height: 50px;

        a {
          padding: 15px 15px;
        }
      }
    }
  }

  a.brand {
    display: none !important;
    position: static !important;
    width: 200px !important;
    margin: 0 0 0 0 !important;
    background-position: center center !important;
  }

  .wrapper {
    padding-top: 0;
    height: 100%;
    margin-top: 130px;
  }

  .sidebar {
    display: block;
    vertical-align: inherit;
    border: none;
    height:auto;

    ul {
      border-bottom: 1px solid #c1c1c2;
      margin-top: 0 !important;

      li {
        display: block;
        padding: 8px 0 !important;
        text-indent: 20px;

        &:hover,
        &:active {
          background-color: fade($black, 5%);
          @include animate-background-color;
        }
      } //li

      ul.sub {
        border-bottom: none;

        li {
          padding-left: 12px !important;
        }
      } //ul.sub
    } //ul

    .docs & {
      ul {
        display: none;
      }

      .sidebar-nav {
        margin-right: -20px;
        margin-left: -20px;
        @include docs-bg-small;
      } //docs sidebar-nav
    } // docs sidebar
  } //sidebar

  .page {

    .page-background {
      left: 0; //make it full-width to cover the gutters on small screens
    }

    .page-contents {
      margin-left: 0px;
      position: relative !important;
      border-left: 0 !important;
    }

    &.docs {
      background: transparent;
    } //docs
  } //page

  .button {
    max-width: 300px;
    position: relative;
  }

  .full-width {
    margin-right: -20px !important;
    margin-left: -20px ;
  }
} // < 767
