/* page */
.page { //style all pages

  min-height: 'calc(100vh - 353px)';
  min-height: -webkit-calc(100vh - 353px);

  .page-background { //page background color
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: -5; //keep it in the back
  } //.background

  .page-contents {

    h1,
    h2,
    h3 {
      text-align: left;
      @include helvetica-neue-light;
    }

    h1 {
      @include helvetica-neue-medium;
      font-size: 45px;
      line-height: 55px;
      margin: ($baseline * 2) 0 $baseline;

      &:first-child {
          margin-top: 0;
      } //h1 first child
    }

    h2 {
      font-size: 37px;
      line-height: 42px;
      margin: ($baseline * 2) 0 $baseline;

      &:first-child {
        margin-top: $baseline * .5;
      } //h2 first child
    } //h2

    h3 {
      margin: ($baseline * 2) 0 $baseline;

      &:first-child {
        margin-top: $baseline * .5;
      } //h3 first child
    }
  } //page-contents

    /* docs */
    &.docs { //style all docs
      .docs-bg-large{} //sidebar background

      .page-background { //change the sidebar background color!
        background: $white; //page background
      }

      .page-contents {
        padding-top: 30px;
        background-color: $white;
        padding-bottom: 40px;

        float: none;
        display: table-cell;
        vertical-align: top;
      }

      h1,
      h2 {
        color: $medium-gray-text;
      }

      h2.steps img {
          margin-top: -7px;
      }

      .alert {
        margin-top: 20px;

        h3 {
          font-size: 22px;
          letter-spacing: 1px;
          margin-bottom: 8px;
        }

        p {
          line-height: 26px;
        }
      }

      &.docs-home { //style docs-home


      } //documentation-home

      &.docs-inner { //style docs-inner

        h3 {
          color: $medium-gray-text;
          margin: $baseline 0;
          @include helvetica-neue-light;
        }

        h4 {
          line-height: 30px;
        }

        h5.subhead {
          @include helvetica-neue-light;
          color: $purple-text;
          line-height: $baseline;
          margin: -10px 0 $baseline;
        }

        h6.subhead {
          @include helvetica-neue-regular-italic;
          color: $dark-gray-text;
          line-height: $baseline;
          margin: -10px 0 $baseline;
          font-size: 15px;
        }

      } //documentation-inner

    } //documentation

} //page
