//typogrpahy
.helvetica-neue-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 100;
}

.helvetica-neue-regular {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.helvetica-neue-medium {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.helvetica-neue-bold {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.helvetica-neue-light-italic {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 100;
}

.helvetica-neue-regular-italic {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 300;
}

.helvetica-neue-medium-italic {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 500;
}

.helvetica-neue-bold-italic {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: 700;
}

@mixin helvetica-neue-light {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 100;
  }
  
@mixin helvetica-neue-regular {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 300;
  }
  
@mixin helvetica-neue-medium {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
  }
  
  @mixin helvetica-neue-bold {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  
  @mixin helvetica-neue-light-italic {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    font-weight: 100;
  }
  
  @mixin helvetica-neue-regular-italic {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    font-weight: 300;
  }
  
  @mixin helvetica-neue-medium-italic {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    font-weight: 500;
  }
  
  @mixin helvetica-neue-bold-italic {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    font-weight: 700;
  }